<h1> Index de User </h1>

<% if flash[:notice] %>
  <div class="flash-message">
    <%= flash[:notice] %>
  </div>
<% end %>

<h3>Listado de Usuarios</h2>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Password</th>
    </tr>  
  </thead>
  <tbody>
    <% if @users.present? %>
    <%= binding.pry %>
      <% @users.each do |data| %>
        <tr>
          <td><%= link_to data[:name], api_user_path(data[:id]) %></td>
          <td><%= data[:password] %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= link_to "Añadir usuario", new_api_user_path(@user) %>

