<% if flash[:notice] %>
  <div class="flash-message">
    <%= flash[:notice] %>
  </div>
<% end %>

<%= link_to "Volver a la página anterior", go_back_path %>

<h1>Plantas</h1>

<%= link_to "Añadir planta", new_api_plant_path%>

<h2>Biología</h2>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Nombre</th>
      <th>Familia</th>
      <th>Luz</th>
      <th>Humedad</th>
      <th>Profundidad de raíz</th>
      <th>Diámetro de raíz (m)</th>
      <th>Tª máxima (ºC)</th>
      <th>Tª mínina (ºC)</th>
      <th>Tª germinación (ºC)</th>
    </tr>
  </thead>
  <tbody>
    <% @plants.each do |data| %>
      <tr>
        <td>
          <%= link_to "Editar", edit_api_plant_path(data) %>
          <%= link_to "Borrar", api_plant_path(data), data: {
                    turbo_method: :delete,
                    turbo_confirm: "¿Quieres eliminar esta planta?"
                  } %>
        </td>
        <td><%= link_to data[:name], api_plant_path(data[:id]) %></td>
        <td><%= data[:family] %></td>
        <td><%= data[:light] %></td>
        <td><%= data[:humidity] %></td>
        <td><%= data[:root_depth] %></td>
        <td><%= data[:root_diameter] %></td>
        <td><%= data[:maximum_temperature] %></td>
        <td><%= data[:minimum_temperature] %></td>
        <td><%= data[:germination_temperature] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
