<h1>Nueva planta</h1>

<% if flash[:alert] %>
  <p><strong>Error:</strong> <%= flash[:alert] %></p>
<% end %>

<%= form_with model: @plant, url: api_plants_path do |form| %>
  <div>
    <%= form.label :nombre %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :familia %>
    <%= form.text_field :family %>
  </div>

  <div>
    <%= form.label :luz%>
    <%= form.select :light, @light_options %>
  </div>

  <div>
    <%= form.label :humedad %>
    <%= form.select :humidity, @humidity_options %>
  </div>

  <div>
    <%= form.label :profundidad_de_raíz %>
    <%= form.select :root_depth, @root_options %>
  </div>

  <div>
    <%= form.label :diámetro_de_raíz_metros %>
    <%= form.number_field :root_diameter, step: "0.1" %>
  </div>

  <div>
    <%= form.label :temperatura_máxima_C %>
    <%= form.number_field :maximum_temperature %>
  </div>

  <div>
    <%= form.label :temperatura_mínima_C %>
    <%= form.number_field :minimum_temperature %>
  </div>

  <div>
    <%= form.label :temperatura_de_germinación_C %>
    <%= form.number_field :germination_temperature %>
  </div>

  <div>
    <%= form.submit "Crear nueva planta" %>
  </div>
<% end %>