<p><%= link_to "Plantas", api_plants_path%></p>

<h1><%= @plant_biology[:name] %></h1>

<h2>Biología</h2>

<p>Familia: <%= @plant_biology.family %></p>
<p>Luz: <%= @plant_biology.light %></p>
<p>Humedad: <%= @plant_biology.humidity %></p>
<p>Profundidad de raíz: <%= @plant_biology.root_depth %></p>
<p>Diámetro de raíz: <%= @plant_biology.root_diameter %> metros</p>
<p>Tª máxima: <%= @plant_biology.maximum_temperature %> ºC</p>
<p>Tª mínina: <%= @plant_biology.minimum_temperature %> ºC</p>
<p>Tª germinación: <%= @plant_biology.germination_temperature %> ºC</p>

<h2>Cuidados</h2>

<table>
  <thead>
    <tr>
      <th>Tarea</th>
      <th>Meses</th>
      <th>Luna</th>
    </tr>
  </thead>
 
</table>

                  meses      |   luna
sembrar        |  ene, feb   |   llena
transplantar   |  ene, feb   |   llena
podar          |  ene, feb   |   llena


      Siembra directa
      Siembra indirecta
      Reproducción por acodo
      Transplante
      recolección
      Poda
      Desniete